---
import TechPill from "@/components/TechPill.astro";
import { type Project } from "../ts/Project";

import StarIcon from "@/icons/Star.astro";
import ForkIcon from "@/icons/Fork.astro";
import Paragraph from "@/components/Paragraph.astro";
import ThemedImage from "@/components/ThemedImage.astro";

interface Props {
  project: Project;
}

const {
  project: { emoji, title, href, image, stars, forks, description, techs },
} = Astro.props;
---

<a href={href}>
  <div class="p-4 -mx-4 rounded-lg group pointer-fine:hover:bg-background-dark">
    <h3 class="flex gap- text-2xl items-baseline justify-between text-primary">
      <span class="font-serif">{emoji} {title}</span>
      <div class="flex gap-1.5">
        {
          stars && (
            <span class="text-base inline-flex items-center gap-x-1">
              <StarIcon />
              <span>{stars}</span>
            </span>
          )
        }
        {
          forks && (
            <span class="text-base inline-flex items-center gap-x-0.5">
              <ForkIcon />
              <span>{forks}</span>
            </span>
          )
        }
      </div>
    </h3>

    {
      image && (
        <ThemedImage
          src={image}
          alt={`'${title}' cover image`}
          class="w-full h-full mt-4 overflow-hidden rounded-lg aspect-video"
        />
      )
    }

    <Paragraph>
      {description}
    </Paragraph>

    <div class="flex space-x-2">
      {techs.map((tech) => <TechPill tech={tech} />)}
    </div>
  </div>
</a>
