---
import TechPill from "@/components/TechPill.astro";
import { type Project } from "../ts/Project";

import StarIcon from "@/icons/Star.astro";
import Paragraph from "@/components/Paragraph.astro";
import ThemedImage from "@/components/ThemedImage.astro";

interface Props {
  project: Project;
}

const {
  project: { emoji, title, href, imageSrc, stars, description, techs },
} = Astro.props;
---

<a href={href}>
  <div class="p-4 -mx-4 rounded-lg group pointer-fine:hover:bg-background-dark">
    <h3 class="inline-flex space-x-3 text-2xl text-primary">
      <span class="font-[BreeSerif]">{emoji}{title}</span>
      {
        stars && (
          <span class="text-base inline-flex  items-center gap-x-1 mt-1.5">
            <StarIcon />
            <span>{stars}</span>
          </span>
        )
      }
    </h3>

    {
      imageSrc && (
        <ThemedImage
          src={imageSrc}
          alt={`'${title}' cover image`}
          class="w-full h-full mt-4 overflow-hidden rounded-lg aspect-video"
        />
      )
    }

    <Paragraph>
      {description}
    </Paragraph>

    <div class="flex space-x-2">
      {techs.map((tech) => <TechPill tech={tech} />)}
    </div>
  </div>
</a>
